<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>高分课程</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learner-index/webindex.css}" />
</head>
<body>
    <div class="row">
        <h3 style="text-align: center;padding-bottom: 20px">高分课程</h3>
        <div class="col-sm-6 col-md-3" th:each="sysCourse:${sysCourseListByCourseScore}">
            <div class="thumbnail">
                <a th:data="${sysCourse.courseId}" th:onclick="|updateViewCountByCourseId(this.getAttribute('data'))|" th:href="@{/learner/getCourseDetailData(courseId=${sysCourse.courseId})}" >
                    <img src="../images/course/programming/java/1031.jpg" th:src="'/images/course'+${sysCourse.imgPath}" alt="通用的占位符缩略图">
                </a>
                <div class="caption">
                    <h4>[[${sysCourse.courseName}]]</h4>
                    <p>课程等级：<span th:text="${sysCourse.courseLevel}">初级</span></p>
                    <p>课程说明：<span th:text="${sysCourse.thirdLabel}">入门</span></p>
                    <p>课程评分：<span>[[${sysCourse.courseScore}]]分</span></p>
                    <p><a th:href="@{/learner/getCourseDetailData(courseId=${sysCourse.courseId})}">详细信息</a></p>
                </div>
            </div>
        </div>
    </div>


    <!--分页-->
    <div class="container">
        <ul class="pager">
            <li th:classappend="${cur == 1} ? 'disabled' : ''">
                <a th:style="${cur == 1} ? 'pointer-events:none' : ''" href="javascript:void(0)" th:data="${pre}" th:onclick="|loadDataByCourseScore(this.getAttribute('data'))|">&larr;上一页</a>
            </li>
            <li th:classappend="${cur == last} ? 'disabled' : ''" >
                <a th:style="${cur == last}  ? 'pointer-events:none' : ''" href="javascript:void(0)" th:data="${next}" th:onclick="|loadDataByCourseScore(this.getAttribute('data'))|">下一页 &rarr;</a>
            </li>

        </ul>
    </div>

</body>
</html>