<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <!--引入公共资源-->
    <div th:include="user/common :: userCommonBase"></div>

</head>
<body>
<div class="container">
    <div class="updatePwd">
        <h2>修改密码</h2>
        <form class="updatePwd-form" id="update-form" method="post">
            <div class="line">
                <i class="iconfont formal-icon">&#xe667;</i><span class="split">|</span>
                <input type="text" class="text" placeholder="账号" id="account-update" name="account"/>
            </div>
            <div class="line">
                <i class="iconfont formal-icon">&#xe60f;</i><span class="split">|</span>
                <input type="password" class="password" placeholder="密码" id="password-update" name="password" />
            </div>
            <div class="line">
                <i class="iconfont formal-icon">&#xe620;</i><span class="split">|</span>
                <input type="password" class="password" placeholder="确认密码" id="confirm" />
            </div>
            <button type="button" id="updatePwd-btn">修改</button>
        </form>
        <div class="back">
            <a th:href="@{toLogin}">返回登录</a>
        </div>
    </div>
</div>
</body>
</html>