<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>404 Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/error.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">


</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" th:src="@{images/404-error.png}" src=""></h1>
            <h2 th:text="${status}">page not found</h2>
            <h3 th:text="${message}">We Couldn’t Find This Page</h3>
            <a class="back-btn" href="javascript:void(0)" onclick="history.back(-1)"> Back To the previous page</a>
        </section>

    </div>
</section>

</body>
</html>
