<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>500 Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/error.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" th:src="@{images/500-error.png}" src=""></h1>
            <h2>OOOPS!!!</h2>
            <h3 th:text="${message}">Something went wrong.</h3>
            <p class="nrml-txt" th:text="${trace}">Why not try refreshing you page? Or you can <a href="#">contact our support</a> if the problem persists.</p>
            <a class="back-btn" href="javascript:void(0)" onclick="history.back(-1)"> Back To the previous page</a>
        </section>

    </div>
</section>
</body>
</html>
